/* ........name convention BEM.......*/

/*............Block............*/
*{
    margin: 0;
    color: grey;
}
.wrapper__flex{
    display: flex;
}
.wrapper__figure{
    width: 293px;
    height: 333px;
    margin: auto;
    text-align: center;
}
/*...........elements...............*/
.wrapper__top{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2em;
}
.bund{
    margin-bottom: 7em;
}
.wrapper__img{
    background-color: #E1F3E1;
    width: 86px;
    height: 67px;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}
/*...........modyfier..................*/
