/* ........name convention BEM.......*/

/*............Block............*/
*{
    margin: 0;
    color: grey;
}
.wrapper__flex{
    display: flex;
}
.wrapper__figure{
    width: 293px;
    height: 333px;
    margin: auto;
    text-align: center;
}
.wrapper__figcaption{
    margin: 10px 0 20px 0;
    line-height: 1.2;
}
/*...........elements...............*/
.wrapper__top{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2em;
}
.bund{
    margin-bottom: 7em;
}
.wrapper__img{
    background-color: #E1F3E1;
    width: 86px;
    height: 67px;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.wrapper__button{
    background-color: #54D154;
    color: white;
    border-color: #54D154;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    border: none;
}
/*...........modyfier..................*/
